mixin blog-post(post, opts = { extraClasses: [], pagefind: false })
    article(class=['blog-post'].concat(opts.extraClasses || []).join(' ') data-pagefind-content=opts.pagefind)
        header.blog-post__header
            div.blog-post__categories= post.categories.join(', ')
            a.blog-post__header-permalink(href=post.url)
                h2.blog-post__title(data-pagefind-meta=opts.pagefind ? 'title' : false)= post.title
                time.blog-post__date(class='blog-post__date', datetime=post.date, data-pagefind-meta=opts.pagefind ? 'date' : false)= filters.dateFormat(post.date, '%B %d, %Y')
                if post.eleventyExcludeFromCollections
                    span.blog-post__draft-label Draft
        .blog-post__content!= post.content
        footer.blog-post__footer
            .blog-post__tags
                if post.tags
                    = "Tags: "
                    ul.tag-list
                        each tag in post.tags
                            li.tag-list__item(data-pagefind-weight=opts.pagefind ? 7 : false)
                                a.tag-list__link(href=filters.url('/tags/' + filters.slugify(tag)))= tag
            .blog-post__xposts(data-pagefind-ignore=opts.pagefind)
                if post.xposts
                    = "Also posted on: "
                    ul.xpost-list
                        each xpost in post.xposts
                            li.xpost-list__item
                                a.xpost-list__link(href=xpost.url)= xpost.label
