mixin blog-post(post, opts = { extraClasses: [] })
    article(class='blog-post ' + (opts.extraClasses || []).join(' '))
        header.blog-post__header
            div.blog-post__categories= post.categories.join(', ')
            a.blog-post__header-permalink(href=post.url)
                h2.blog-post__title= post.title
                time.blog-post__date(class='blog-post__date', datetime=post.date)= filters.dateFormat(post.date, '%B %d, %Y')
        .blog-post__content!= post.content
