mixin blog-post(post, opts = { extraClasses: [] })
    article(class='blog-post ' + (opts.extraClasses || []).join(' '))
        header.blog-post__header
            div.blog-post__categories= post.categories.join(', ')
            a.blog-post__header-permalink(href=post.url)
                h2.blog-post__title= post.title
                time.blog-post__date(class='blog-post__date', datetime=post.date)= filters.dateFormat(post.date, '%B %d, %Y')
        .blog-post__content!= post.content
        footer.blog-post__footer
            .blog-post__tags
                if post.tags
                    = "Tags: "
                    ul.tag-list
                        each tag in post.tags
                            li.tag-list__item
                                a.tag-list__link(href=filters.url('tags/' + filters.slugify(tag)))= tag
            .blog-post__xposts
                if post.xposts
                    = "Also posted on: "
                    ul.xpost-list
                        each xpost in post.xposts
                            li.xpost-list__item
                                a.xpost-list__link(href=xpost.url)= xpost.label
