extends monotheme.pug
include mixins/blog-post.pug
include mixins/microblog-post.pug

block append meta
    link(rel="alternate", type="application/atom+xml", href=filters.url("/feeds/posts.xml"), title="Atom Feed")

block main
    // This is a bit of javascript to normalize the shape of post data
    -
        const posts = collections.posts
            .toSorted((a, b) => b.date - a.date)
            .slice(0, 3)
            .map(p => ({
                title: p.data.title,
                content: p.content,
                date: p.date,
                url: p.url,
                categories: p.data.categories,
                tags: p.data.tags,
                xposts: p.data.xposts,
            }))
    // Render each post using the blog-post mixin
    each post in posts
        .blog-post-list
            +blog-post(post, { extraClasses: ['blog-post-list__item'] })

    a.archive-link(href=filters.url("/archive"))
        = "Archive: "
        span.archive-link__count !{filters.humaneNumFormat(collections.posts.length)}
        = " posts →"

block sidebar
    section.sidebar-section
        header.sidebar-section__header
            h2= "Looking for something specific?"
        .roles-list
            a.roles-list__item(href=filters.url("/software"))
                h3.roles-list__title
                    = "I'm a "
                    span.roles-list__role= "Software Engineer"
                    = ", "
                    span.roles-list__role= "Manager"
                    = " and "
                    span.roles-list__role= "Designer"
                .roles-list__description
                    = "I'm engineering manager for Web at Freedom of the Press Foundation and do freelance data processing and visualization."
                .roles-list__action= "Read more or hire me →"
            a.roles-list__item(href=filters.url("/contra"))
                h3.roles-list__title
                    = "I'm a "
                    span.roles-list__role= "Contra Dance Organizer"
                    = " and "
                    span.roles-list__role= "Caller"
                .roles-list__description
                    = "I organize and call traditional folk dances in the New England area and beyond."
                .roles-list__action= "Read more or book me →"

    section.sidebar-section
        header.sidebar-section__header
            h2= "Reach me elsewhere:"
        ul.bulletless
            li
                a(href="https://social.coop/@harris", rel="me") Mastodon
            li
                a(href="https://github.com/harrislapiroff/", rel="me") GitHub
            li
                a(href="mailto:blog@chromamine.com", rel="me") Email

    section.sidebar-section
        // This is a bit of javascript to normalize the shape of post data
        -
            const microblog = collections.microblog
                .toSorted((a, b) => b.date - a.date)
                .map(p => ({
                    ...p,
                    ...p.data
                }))
        header.sidebar-section__header
            h2= "Microblog"
        each post in microblog
            +microblog-post(post)
