extends monotheme.pug
include mixins/blog-post.pug

block title
    = title

block append meta
    meta(name="description" content=filters.getSEOExcerpt(content, excerpt))
    meta(property="og:title" content=title)
    meta(property="og:description" content=filters.getSEOExcerpt(content, excerpt))
    meta(property="og:url" content=filters.url(page.url))
    - const seoImage_ = filters.getSEOImage(content, seoImage)
    if seoImage_
        meta(property="og:image" content=filters.url(seoImage_))
    meta(property="og:site_name" content="Harris Lapiroff")
    meta(property="og:type" content="article")

block prepend header
    a.site-header__go-home(href="/") ← Return home

block main
    // This is a bit of javascript to normalize the shape of post data
    -
        const post = {
            title: title,
            content: content,
            date: page.date,
            url: page.url,
            categories: categories,
            tags: tags,
            xposts: xposts,
            eleventyExcludeFromCollections: eleventyExcludeFromCollections,
        }
    // Render the blog post using the blog-post mixin
    +blog-post(post, { pagefind: true })
