---
layout: monotheme/page.pug
title: Archive
---

h2= "Tags"
// A bit of javascript to get a list of tags
-
    const tags = Object.keys(collections)
        .filter(t => !['all', 'posts', 'danceEvents'].includes(t))
        .sort((a, b) => a.toLowerCase().localeCompare(b.toLowerCase()))
        .map(t => ({
            name: t,
            count: collections[t].length,
            url: `/tags/${filters.slugify(t)}/`,
        }))

// Render the tags in a list
div.js-tag-list(data-tags=JSON.stringify(tags))
    ul.archive-list.archive-list--tags
        each tag in tags
            li.archive-list__item
                a.archive-list__item-link(href=tag.url)
                    span.archive-list__item-tag-name= tag.name
                    span.archive-list__item-tag-count= `(${tag.count} post${filters.pluralize(tag.count)})`

// Render the posts by date
include _includes/monotheme/mixins/archive-list.pug
- const posts = collections.posts
+archive-list-by-year(posts)
